__pycache__
node_modules
*.pyc
data/*/*.cpg
data/*/*.dbf
data/*/*.prj
data/*/*.sbn
data/*/*.sbx
data/*/*.shp.xml
data/*/*.shp
data/*/*.shx
data/*/*.zip
data/*/*.z01
data/*/*.z02
data/*/*.z03
data/promises
