{% extends "account/base.html" %}

{% load i18n %}
{% load form_utils %}

{% block head_title %}{% trans "Ready to start" %}{% endblock %}
{% block title %}{% trans "Ready to start!" %}{% endblock %}

{% block content %}

<div class="step-form">

  <div class="steps">
    {% include "account/_steps.html" %}
  </div>
  <div class="inside">

    <p>{% blocktrans %}Thank you. Your data helps us to personalize your experience.{% endblocktrans %}</p>

    <div class="form-actions">
        <a href="{{redirect_field_value|default:'/'}}" class="button btn-primary big-button">Continue to application</a>
    </div>
  </div>
</div>


{% endblock %}