{% extends "account/base.html" %}

{% load i18n %}
{% load form_utils %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block title %}{% trans "You're almost ready" %}{% endblock %}

{% block content %}

<form class="signup step-form" method="post">
  {% csrf_token %}

  <div class="steps">
        {% include "account/_steps.html" %}
  </div>
  <div class="inside">

        <p>{% blocktrans %}Please select one or more topics you are interested in.{% endblocktrans %}</p>

        <ul class="interest-selection">
        {% for cat in categories %}
            <li class="interest" onClick="markInterest(this, '{{cat}}')">{{cat}}</li>
        {% endfor %}
        </ul>
        
        {{form.prompt}}
        {{form.text}}

    <div class="form-actions">
      <button type="submit">{% trans "Continue" %} &raquo;</button>
    </div>

  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
</form>

<script>
document.getElementById('id_text').style.display = 'none';
var interests = [];
function markInterest(elem, cat) {
    if (interests.indexOf(cat) !== -1) {
        var index = interests.indexOf(cat);
        interests.splice(index, 1);
        elem.className = 'interest';
    } else {
        interests.push(cat);
        elem.className = 'interest active';
    }
    document.getElementById('id_text').value = JSON.stringify(interests);
}
</script>


{% endblock %}