{% extends "account/base.html" %}

{% load i18n %}
{% load form_utils %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block title %}{% trans "Welcome" %}, {{user.username}}!{% endblock %}

{% block content %}


<form class="signup step-form" method="post">
  {% csrf_token %}


  <div class="steps">
    {% include "account/_steps.html" %}
  </div>
  <div class="inside">

      <p>{% blocktrans %}Please tell us a bit more about yourself, so we can provide you with a personal experience. All your information will be kept private and secure.{% endblocktrans %}</p>
      
      {% for field in form %} 
        <div{{ field.row_attrs }}>
            
          {% if field|is_checkbox %}
            <span class="field-checkbox">
              {{ field }}
              {{ field.label_tag }}
            </span>
          {% else %}
            {{ field.label_tag }}
            {{ field }}
          {% endif %}

          {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
          </div>
        {{ field.errors }}
      {% endfor %}

    <div class="form-actions">
      <button type="submit">{% trans "Continue" %} &raquo;</button>
    </div>

  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
</form>

{% endblock %}