<h1>Reverse geocode</h1>

<p id="status"></p>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% if result %}
<h2>Result</h2>
<p>{{result.province}}, {{result.precinct}}, {{result.name}}</p>
<p>선거: {{result.voting_district_name}}</p>
{% endif %}

<script>
function getLocation() {
    if (navigator.geolocation) {
        document.getElementById('status').innerHTML = 'Getting your position...';
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    document.getElementById('status').innerHTML = '';
    document.forms[0].lat.value = position.coords.latitude; 
    document.forms[0].lon.value = position.coords.longitude; 
}
getLocation();
</script>