@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,500,700');



html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: #1a1a1a;
    margin: 0;
}

a, a:link, a:visited {
    color: inherit;
}

/* sticky footer */
.site {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.header, .footer {
    flex: none;
}
.main {
    flex: 1 0 auto;
    width: 100%;
}
.main::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}

p { 
    max-width: 700px;
    line-height: 1.5;
}

.content {
    flex: 1;
    padding: 4rem;
    border-radius: 8px;
}
.footer {
    padding: 2rem 4rem;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    font-size: .95em;
}
.footer > div {
    margin-right: 1rem;
}
.footer > div:last-of-type {
    justify-self: flex-end;
    margin-right: 0;
}

@media (max-width: 900px) {
    .content, .footer {
        padding: 1rem;
    }
}

h1 {
    font-size: 3.4em;
    font-weight: 100;
    margin: 0 0 2rem;
    line-height: 1;
    color: #000;
}

@media (max-width: 450px) {
    h1 {
        font-size: 2em;
    }
}

h1 span {
    font-weight: 300;
    background-color: #eaffee;
    padding: 0 .15em;
}

.site-news-reader h1 {
    color: #9500FF;
    text-transform: uppercase;
}
.site-news-reader h1 span {
    background-color: transparent;
    padding: 0;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline-block;
    padding-right: .5em;
}
.nav li:last-of-type {
    padding-right: 0;
}

form p {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0 .5em .5em 0;
    font-weight: 500;
    display: block;
}
form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
form ul label {
    font-weight: 300;
}
form p + ul {
    margin-top: -1em;
}
form input {
    max-width: 400px;
    font-size: inherit;
    padding: .5em;
    border: 1px solid #ddd;;
    background-color: rgba(255,255,255,0.1);
    color: inherit;
    font-weight: inherit;
}
form input[type=submit],
form button, a.button {
    border: 1px solid #ccc;
    text-align: center;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
    padding: .5em 1em;
    cursor: pointer;
    border-radius: 3px;
}
form button, a.button, .btn-primary {
    background-color: #6cb5f4;
    color: #fff;
    border: 0;
}
.secondaryAction, a.secondaryAction {
    background-color: rgb(150, 154, 130);
}
.big-button, a.big-button {
    font-size: 1.1em;
    padding: .8em 1.6em;
}

.huge-button, a.huge-button {
    font-size: 1.5em;
    padding: .65em 1.6em;
}

.site-news-reader .btn-primary {
    background-color: #9500FF;
    color: #fff;
}

.password-help-text {
    margin: 1em 0;
    color: #777;
    line-height: 1.6;
}



.messages {
    position: absolute;
    right: 2em;
    top: 2em;
}
.messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages li {
    background-color: rgba(0,0,0,0.3);
    padding: .5em;
}

.errorlist {
    color: red;
}

.apps {
    display: flex;
    margin: 2rem 0;
    max-width: 1000px;
}
.apps .app {
    flex: 1;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    margin-right: 2rem;
    font-size: .9em;
    cursor: pointer;
}
.apps .app:hover {
    background-color: #343;
}
.apps .app h2 {
    font-size: 1.5em;
    font-weight: 300;
}
.apps .app:last-of-type {
    margin-right: 0;
}



.form-actions {
    text-align: center;
    margin-top: 1.5em;
}

.step-form {
    
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    max-width: 700px;
}
.step-form .inside {
    padding: 0 1em 1em 1em;
    border: 1px solid  #eaeaea;
    border-radius: 0 0 6px 6px;
}
.step-form .inside > div {
    margin-bottom: 1.5em;
}

.step-form .steps {
    background-color:  #373942;
    color: #fff;
    font-size: .85em;
    padding: 0 1em;
    line-height: 2.5;
    text-align: center;
    overflow: hidden;
}

.current-step {
    float: left;
}

.step-display {
    position: relative;
    display: inline-block;
    float: right;
}
.step-display:before {
    content: "";
    position: absolute;
    top: 50%;
    z-index: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: #999;
}
.step-display .step {
    text-indent: -100px;
    overflow: hidden;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border: 1px solid #999;
    background-color: #373942;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-right: 8px;
    box-shadow: inset 0 0 0 1px #373942
}
.step-display .step:last-of-type {
    margin-right: 0;
}
.step-display .step.step-current {
    background-color: #fff;
}
.step-display .step.step-done {
    background-color: #1a8a2f;
}

.action-options {
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 1em;
}
.step-form .inside > div.action-options {
    margin-bottom: 0;
}
.action-options .option {
    padding: 1em;
}
.action-options .option input {
    width: 100%;
}
.action-options .line {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
    min-width: 50px;
    border: 1px solid #aaa;
    border-width: 1px 0 0 0;
    background: none;
    height: 1px;
    position: relative;
    line-height: 1;
}
.action-options .line:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    padding: 0 4px;
    text-transform: uppercase;
    font-size: .7em;
}

.location-options-status {
    border: 1px solid #f0f0f0;
    line-height: 2.5;
    padding: 0 .5em;
    text-align: center;
    font-size: .9em;
    background-color: #f0f0f0;
}
.location-options {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #f0f0f0;
    margin: 0 0 1em 0;
}
.location-options li {
    border-bottom: 1px solid #f0f0f0;
    line-height: 2.5;
}
.location-options a {
    display: block;
    text-decoration: none;
    padding: 0 .5em;
}
.location-options a:hover {
    background-color: #f3ffef;
}
.location-options li:last-of-type {
    border-bottom: 0;
}

.interest-selection {
    list-style: none;
    margin: 0;
    padding: 0;
}
.interest-selection li {
    display: inline-block;
    margin: 0 1em 1em 0;
    background-color: #f0f0f0;
    border-radius: 2em;
    font-size: 1.3em;
    padding: 0 1em;
    line-height: 3;
    cursor: pointer;
}
.interest-selection li:hover {
    background-color: #f3ffef;
}
.interest-selection li.active {
    background-color: #b9f7a4;
}

.hero {
    margin: 0 0 2em 0;
}
.hero p {
    font-size: 2em;
}