{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}PromiseWiser{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="site">
    {% block body %}

    {% if messages %}
    <div class="messages">
      <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="content">
      <h1><span>{% block title %}PromiseWiser{% endblock %}</span></h1>

      {% block content %}{% endblock %}
    </div>

    {% endblock %}

    <div class="footer">
      <div>&copy; 2017 <a href="http://kixlab.org">KIXLAB</a>. Research project founded by the NRF.</div>
      <div>
          <ul class="nav">
          {% if user.is_authenticated %}
          <li>Logged in as {{user.get_short_name|default:user.username}}</li>
          <li><a href="{% url 'account_logout' %}">{% blocktrans %}Logout{% endblocktrans %}</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">{% blocktrans %}Login{% endblocktrans %}</a></li>
          <li><a href="{% url 'account_signup' %}">{% blocktrans %}Signup{% endblocktrans %}</a></li>
          {% endif %}
          <li><a href="{% url 'api-root' %}">{% blocktrans %}API{% endblocktrans %}</a></li>
          </ul>
        </div>
    </div>

    {% block extra_body %}{% endblock %}
  </body>
</html>