{% extends "base.html" %}

{% load i18n %}

{% block content %}
<p>Welcome to PromiseWiser. Be part of a growing community of citizens who care about politics. Your participation can help change your country for the better.</p>

<div class="apps">
    <div class="app"><h2>PromiseBook</h2><p>Interact with foo and monitor bla.</p></div>
    <div class="app"><h2>News Reader</h2><p>Enhance your news reading experience.</p></div>
    <div class="app"><h2>?</h2><p>Coming soon.</p></div>
</div>


{% endblock %}