{% load i18n %}
<h2>{% trans "Reverse Geocode" %}</h2>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" style="width: 175px" name="lat" value="{{ lat }}" placeholder="latitude">
      <input type="text" class="form-control" style="width: 175px" name="lon" value="{{ lon }}" placeholder="longitude">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Geocode</button>
      </span>
    </div>
  </div>
</form>