Django==1.11
# psycopg2 installed through distro package
gunicorn==19.7.1

django-allauth==0.24.1
django-autoslug==1.9.3
django-braces==1.8.1
django-environ==0.4.0
django-randomslugfield==0.3.0
django-tables2==1.10.0